@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: local('Material Icons'),
		local('MaterialIcons-Regular'),
		url(fonts/icons/MaterialIcons-Regular.woff2) format('woff2'),
		url(fonts/icons/MaterialIcons-Regular.woff) format('woff'),
		url(fonts/icons/MaterialIcons-Regular.ttf) format('truetype');
}

@font-face {
	font-family: 'Roboto';
	font-weight: 400;
	src: local('Roboto Regular'),
		url('fonts/roboto/Roboto-Regular.woff2') format('woff2'),
		url('fonts/roboto/Roboto-Regular.woff') format('woff'),
		url('fonts/roboto/Roboto-Regular.ttf') format('truetype');
}

.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;

	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;

	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;

	/* Support for IE. */
	font-feature-settings: 'liga';
}

html, body {
	margin: 0;
	font-family: Roboto, Arial, sans-serif;
}
body {
	margin-top: 56px;
}

#nodata {
	text-align: center;
	margin: 100px 5%;
	display: none;
}

.nodata #nodata {
	display: block;
}

h2 {
	font-size: 2.5rem;
	margin: 0 0 1.5rem 0;
}

h4 {
	font-size: 2rem;
	margin: 1.5rem 0 1.5rem 0;
}

h2, h4 {
	font-weight: 400;
}

/* IE10+ */
::-ms-clear {
	display: none;
}

.ac-s {
	overflow: hidden;
	font-size: 1rem;
	line-height: 26px;
	padding: 15px;
	border-bottom: 1px solid rgba(0, 0, 0, .3);
}

.nodata #content {
	display: none;
}

input#search {
	position: fixed;
	top: 0;
	left: 0;
	width: calc(100% - 7rem);
	background-color: #03a9f4;
	color: white;
	padding: 0 3.4rem 0 3.6rem;
	overflow: hidden;
	border: none;
	height: 56px;
	line-height: 56px;
	box-shadow: 0 0 15px 0 rgba(0, 0, 0, .5);
	transition: all 300ms;
	font-size: 1.5rem;
	-webkit-appearance: none;
	outline: none;
}

.material-icons.search, .material-icons.back {
	left: 0;
	padding-left: 1rem;
	padding-right: 1rem;
}

.material-icons.clear {
	right: 0;
	padding-right: 1rem;
	padding-left: 1rem;
}
.offline #searchicon {
	pointer-events: none;
}
.offline input#search {
	background-color: #424242;
	pointer-events: none;
}

.offline #clear {
	display: none;
}

#nodata-offline {
	display: none;
}

.offline #nodata-online {
	display: none;
}

.offline #nodata-offline {
	display: block;
}

input#search:focus {
	background-color: white;
	color: black;
	box-shadow: none;
	border-bottom: 1px solid rgba(0, 0, 0, .3);
}

input#search ~ .material-icons {
	color: white;
	font-size: 2rem;
	transition: color .2s;
	height: 56px;
	line-height: 56px;
	position: fixed;
	top: 0;
}

.typing #content,
.typing #nodata {
	display: none;
}

input#search:focus ~ .material-icons {
	color: black;
}

input#search:focus ~ .material-icons.search {
	display: none;
}

.material-icons.back {
	display: none;
}

input#search:focus ~ .material-icons.back {
	display: inline;
}


.ac-s .hl {
	color: #03a9f4;
}

.ac-s.s, .ac-s:hover {
	background-color: #eee;
}

#clear, #searchicon, #back {
	cursor: pointer;
}

#content {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	text-align: center;
}

#content>div {
	order: 1;
}

#content>div.thisweek {
	order: 0;
}

.today {
	background-color: grey;
}

.card {
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
	display: inline-block;
	width: 100%;
}

td, th {
	text-align: center;
	padding: 5px 3px;
	width: 20%;
}

* {
	box-sizing: inherit;
	border-collapse: collapse;
}

tr, table {
	background-color: #fff;
	margin: 0;
	width: 100%;
}

tr:nth-child(odd) {
	background-color: #f2f2f2;;
}

tr:nth-child(odd) .today {
	background-color: #CFD8DC;
}

.today {
	background-color: #ECEFF1;
}

footer {
	order: 2;
	color: rgba(0, 0, 0, 0.6);
	text-align: center;
	width: calc(100% - 20px);
	padding: 10px;
}

#ac-ss {
	display: none;
}
.typing #ac-ss {
	display: block;
}

@media (min-width: 601px) {
	body {
		margin-top: 64px;
	}
	h2 {
		font-size: 3.5rem;
	}
	input#search, input#search ~ .material-icons, .ac-s {
		height: 64px;
		line-height: 64px;
	}
	.ac-s {
		padding: 0 3.4rem 0 3.6rem;
		font-size: 1.5rem;
	}
	td, th {
		padding: 15px 5px;
	}
	.card {
		box-shadow: 0 3px 10px 0 rgba(0, 0, 0, .4);
		border-radius: 3px;
		margin: 30px 30px 0 30px;
		border: none;
		width: 90%;
		max-width: 1600px;
	}
	#content {
		align-items: center;
		justify-content: space-evenly;
	}
	footer {
		margin: 30px;
	}
}

